    /* Formateo general */

* {
    margin: 0px;
    padding: 0px;
}
        
    /* Nav superior principal */
        
.superior {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.096);
}
    
.superior li {
    display:inline;
}
    
.superior a {
    display:inline-block;
    padding:10px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 0, 0.575);
}

.superior a:hover {
    color: white;
}

.active a {
    color: white;
}
    
.s-derecha a {
    display:inline-block;
    padding:10px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 0, 0.575);
}
    
.s-derecha {
    float: right;
}

    /* Formateo del footer */

footer {
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}

footer li {
    display: inline;
    margin-left: 10px;
}

footer a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-size: 15px;
    border: 1px solid red;
}

footer a:hover {
    background-color: white;
    color: blue;
}

    /* Body */

body {
    background-image: url("https://lan.leagueoflegends.com/sites/default/files/styles/scale_xlarge/public/upload/lcu-beta-update-2-banner.jpg?itok=OfjVOaoS");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

    /* Formateo de títulos */

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    float : left;
    margin-left: 20px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 150%;
    margin-left: 10px;
    margin-top: 10px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #257372;
    float: left;
    margin-left: 20px;
}

    /* Formateo de la sección */

section {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border: 2px solid red;
    border-radius: 25xp;
    background-color: white;
    padding: 20px;
    height: auto;
}

    /* Formateo de los artículos */

.artic1 {
    margin-top: 10px;
}

.artic2 {
    display: inline-block;
    margin-top: 20px;
    margin-left: 50xp;
}

.artic3 {
    display: inline-block;
    margin-top: 20px;
}

    /* Formateo de los parrágrafos */

.par1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    float : left;
    width: 50%;
    text-align: justify;
}

.par2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 30px;
}

.par3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    float : left;
    width: 50%;
    text-align: justify;
}

    /* Formateo de divs */

.div1 {
    background-color: black;
    float: left;
    margin-top: 50px;
    width: 100%;
    height: 50px;
}
  
    /* Imágenes */

.imag1 {
    float: left;
}

.imag2 {
    margin-left: 30px;
}

.imag3 {
    float: left;
    width: 450px;
    height: 253px;
}